/* ---------- KATEGORIE W SKLEPIE -------------- */
.shop-cat-card h4{
  margin:0 0 12px;
  font-size:13px;
  text-transform:uppercase;
  color:var(--accent-red);
}

.cat-list{
  display:flex;
  flex-direction:column;
  gap:10px;
  list-style-type: none;
}

.cat-btn{
  width:100%;
  display:flex;
  align-items:center;
  gap:12px;
  font-family: var(--font);
  background:var(--bg-dark-tertiary);
  border:1px solid var(--border-color);
  border-radius:6px;
  padding:10px 14px;
  color:var(--text-secondary);
  cursor:pointer;
  transition:.2s;
}
.cat-btn:hover,
.cat-btn.active{
  border-color:var(--accent-red);
  color:var(--text-primary);
}
/* ---------- zielony przycisk KUP ------------ */
.buy-btn{
  background:var(--accent-green);
  border:none;
  border-radius:4px;
  color:#000;
  font-weight:700;
  font-family: var(--font);
  padding:6px 10px;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:4px;
  cursor:pointer;
  transition:.2s;
}
.buy-btn:hover{
  background:var(--accent-green-hover);
}
