* {
  margin: 0;
  padding: 0;
}

html, body {
  background: black;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center; /* Wyśrodkowanie pionowe */
  justify-content: center; /* Wyśrodkowanie poziome */
  background: black;
  overflow: hidden;
}

canvas {
  /* aspect-ratio: 1600 / 1048; */
  width: 100%;
  height: auto;
  object-fit: contain;
  position: absolute;
}