* {
  margin: 0;
  padding: 0;
}

html, body {
  background: black;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center; /* Wyśrodkowanie pionowe */
  justify-content: center; /* Wyśrodkowanie poziome */
  background: black;
  overflow: hidden;
}

.game-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pixiContainer {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  /* canvas w środku automatycznie się dopasuje */
}

canvas {
  aspect-ratio: 1920 / 1080;
  width: 100%;
  height: 100%;
  display: block;
}
